body {
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  width: 100px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  border-right: 1px solid rgb(248, 249, 250);
  transition: all 0.5s ease 0s;
}

.logo {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  text-align: center;
  width: 40px;
  height: 40px;
  box-shadow: rgba(242, 30, 78, 0.1) 0px 4px 6px -1px,
    rgba(242, 30, 78, 0.06) 0px 2px 4px -1px;
  border-radius: 50%;
  margin: auto;
  background-color: #2e45e5;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  line-height: 40px;
  z-index: 999;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}

.main-menu {
  position: fixed;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  width: 100vh;
  height: 100px;
}

.main-menu .menu {
  flex-basis: auto;
  display: flex !important;
}

.main-menu .menu .menu-nav {
  height: 100px;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  margin: -2px auto 0px;
  list-style-type: none;
}

.nav-link {
  float: right;
  height: 100%;
  line-height: 100px;
  text-align: center;
  color: rgb(52, 58, 64);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
  padding: 0px 15px;
  transition: all 0.5s ease 0s;
  display: block;
}

/* Header Styles end */

.document-wrapper {
  margin-left: 100px;
}

#home {
  position: relative;
  padding: 5rem 0;
}

.contact-form,
.contact-section-info,
.about-info,
.about-img-wrapper,
.home-img-wrapper,
.hire-me-btn,
.html-start,
h1,
h2,
h3,
.p-stylish {
  position: relative;
}

.contact-form::before,
.contact-form::after,
.about-info::before,
.about-info::after,
.about-img-wrapper::before,
.home-img-wrapper::before,
.html-start::after,
.html-start::before,
.p-stylish::before,
.p-stylish::after,
h1::after,
h1::before,
h2::before,
h2::after,
h3::before,
h3::after,
.contact-section-info::after,
.contact-section-info::before,
.hire-me-btn::before,
.hire-me-btn::after {
  position: absolute;
  left: -15px;
  color: #ddd;
  font-family: 'Caveat', cursive;
  z-index: -1;
  font-size: 24px;
}

.html-start::before {
  content: '<html>';
  top: -50px;
  left: -50px;
}

.html-start::after {
  content: '<body>';
  top: -32px;
  left: -35px;
}

.p-stylish::before {
  top: -15px;
  content: '<p>';
}

.p-stylish::after {
  content: '</p>';
  bottom: -15px;
}

h1::before {
  content: '<h1>';
  top: -15px;
  font-size: 20px;
}

h1::after {
  content: '</h1>';
  bottom: -15px;
  font-size: 20px;
}

h2::before {
  content: '<h2>';
  top: -15px;
  font-size: 18px;
}

h2::after {
  content: '</h2>';
  bottom: -15px;
  font-size: 18px;
}

h3::before {
  content: '<h3>';
  top: -15px;
  font-size: 18px;
}

h3::after {
  content: '</h3>';
  bottom: -15px;
  font-size: 18px;
}

.hire-me-btn::before {
  content: '<button>';
  top: -25px;
}

.hire-me-btn::after {
  content: '</button>';
  bottom: -25px;
}

.about-img-wrapper::before,
.home-img-wrapper::before {
  content: '<img />';
  font-size: 40px;
}

.about-info::before {
  content: '<ul>';
  top: -15px;
}

.about-info::after {
  content: '</ul>';
  bottom: -15px;
}

.contact-form::before {
  content: '<form>';
  top: -25px;
}

.contact-form::after {
  content: '</form>';
  bottom: -25px;
}

.contact-section-info::before {
  content: '<ul>';
  top: -15px;
}

.contact-section-info::after {
  content: '</ul>';
  bottom: -15px;
}

.hero-title {
  display: flex;
  font-size: 50px;
  font-weight: 700;
  height: 60px;
}

.hero-title .dynamic-text-wrapper {
  height: 60px;
  overflow: hidden;
}

.dynamic-text-wrapper ul {
  margin-left: 10px;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  animation: slide 9s steps(3) infinite;
}

@keyframes slide {
  100% {
    margin-top: -180px;
  }
}

.dynamic-text-wrapper ul li {
  width: 0;
  overflow: hidden;
  border-right: #212529 3px solid;
  animation: typing 3s infinite;
}


@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.hire-me-btn {
  color: #fff;
  background-color: #2e45e5;
  padding: 5px 20px;
}

.hire-me-btn:hover {
  text-decoration: none;
  color: #fff;
}

#about {
  padding: 5rem 0;
}

.section-title {
  font-size: 26px;
  font-weight: 600;
  margin: 1.5rem 0;
}

.about-img-wrapper {
  padding: 1rem;
  border-left: #2E45E5 2px solid;
  border-radius: 50%;
}

.about-img-wrapper img {
  border-radius: 50%;
}

.about-info {
  margin: 1.5rem 0;
}

.about-info .col-sm-6 {
  padding: 0;
}

.about-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-info ul li {
  padding: 5px 0;
  font-size: 14px;
}

#works {
  padding: 5rem 0;
}

.work-card {
  box-shadow: rgba(69, 67, 96, 0.1) 0px 5px 20px 0px;
}

.work-card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.work-card-img-wrapper img {
  transition: 0.5s;
}

.work-card-img-wrapper:hover img {
  transform: scale(1.2);
}

.work-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: .5s;
}

.work-card-img-wrapper:hover .work-img-overlay {
  opacity: 1;
}

.work-img-overlay .btn {
  color: #fff;
  border: #fff 1px solid;
}

.work-card .card-body {
  display: flex;
  justify-content: space-between;
}

.work-card .card-body p {
  margin: 0;
}

.work-card .card-body .btn {
  padding: 0;
}

.work-card .card-body .btn::after {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../img/icons/external-link.svg);
}

#contact {
  padding: 5rem 0;
}

.section-subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.contact-section-info {
  padding: 0;
  list-style-type: none;
  margin: 2.5rem 0;
}

.contact-section-info li {
  margin: 1.5rem 0;
}

.contact-section-info li p {
  margin: 0;
}

.contact-phone,
.contact-email,
.contact-address {
  display: flex;
  align-items: center;
}

.contact-phone::before {
  content: '';
  background-image: url(../img/icons/phone-call.svg);
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 15px;
}

.contact-email::before {
  content: '';
  background-image: url(../img/icons/mail.svg);
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 15px;
}

.contact-address::before {
  content: '';
  background-image: url(../img/icons/map-pin.svg);
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 15px;
}

.contact-form {
  padding: 15px;
  border-radius: 5px;
  background-color: #F8F9FA;
}

.form-control {
  background-color: #fff;
}

#testimonial {
  padding: 5rem 0;
}

.testimonial-card {
  position: relative;
}

.testimonial-card .image-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  height: 80px;
  width: 80px;
  padding: 5px;
  border: #2e45e5 1px solid;
  border-radius: 50%;
  transform: translate(0, -50%);
}

.testimonial-card .image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testimonial-card .content-wrapper {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  margin-left: 40px;
  padding-left: 50px;
}

.testimonial-card .content-wrapper h6 {
  font-weight: 600;
}

.testimonial-card .content-wrapper h6 span {
  font-weight: 400;
}

.service-card {
  padding: 30px;
  background-color: #F8F9FA;
  border-radius: 5px;
}

.service-card .circle {
  height: 80px;
  width: 80px;
  margin: auto;
  border: #2E45E5 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.service-card .circle img {
  height: 40%;
  width: 40%;
}

.service-card h3 {
  font-size: 18px;
  font-weight: 600;
}